.divize {
    //background-color: #484848;
    //background-color: #cccccc;
    
    height: 100vh;
    width: 100%;
    z-index: 30;

    /*background-image: url(../../../public/Rectangle14.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    
    //animation: gradientMove 6s ease-in-out infinite;
    background: linear-gradient(0deg, #000000, #ffffff, #000000);

    
    //background: conic-gradient(from 93deg, #000000, #d7d7d7, #000000);
    background-size: 100% 100%;

}



/*@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    33% {
        background-position: 50% 100%;
    }
    66% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}
*/
.under {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
    padding-top: 42vh;
    
}
.skills{
    z-index: 36;
    font-family: 'condensed-j';
    color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: space-between;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.99);
}
.text{
    font-size: 115px;
    color: #d9d9d9;
    z-index: 40;
    position: absolute; 
    top: 23vh;
    z-index: 30;
    //text-shadow: 1px 1px 2px rgba(80, 68, 68, 0.9);
    
    //text-shadow: -20px 15px 2px rgba(80, 68, 68, 0.4);

    //animation: textShadowAnim 30s linear infinite;
}

@keyframes textShadowAnim {
    0% {
        text-shadow: 0px 0px 2px rgba(80, 68, 68, 0.4);
    }
    33% {
        text-shadow: -50px 12px 10px rgba(168, 159, 159, 0.4);
    }

    66% {
        text-shadow: -30px 25px 10px rgba(168, 159, 159, 0.4);
    }
    
    100% {
        text-shadow: 0px 0px 2px rgba(80, 68, 68, 0.4);
    }
}

.dovednost {
    
    position: relative;
}

.contact{
    z-index: 35;
    color: #e4e4e4;
    display: flex;
    flex-direction: row;
    padding: 3px;
}
.contactp {
    
    
    font-family: 'condensed-j';
    font-size: 30px;
    padding:1.05rem 65px;
    
}
.contactpp {
    
    border-radius: 1000px;
    
    border:3px solid rgba(255, 255, 255, 0);
    padding:1.05rem 6.1rem;
    margin: 0rem 3rem;
    font-family: 'condensed-j';
    font-size: 30px;
    position: relative;

}






.rectangle{
    position: absolute;
    
    height: auto;
    top: 8vh;
    left: 25vw;
    
}
.ellipse{
    position: absolute;
    top: 35vh;
    width: 100vw;
}

@font-face {
    font-family: 'condensed-j';
    src: url('../../../public/images/ClashDisplay-Light.otf');
  }
  .j-font3 {
    font-family: 'condensed-j';
  }
  @font-face {
    font-family: 'condensed-j2';
    src: url('../../../public/images/ClashDisplay-Regular.otf');
  }
  .j-font4 {
    font-family: 'condensed-j2';
  }

.img{
    position: absolute;
}

